.sidebar {
    &__body {
        &__search {
            &__title {
                font-weight: bold;
                font-size: 16px;
            }
            &__button-icon {
                width: 18px !important;
                height: 18px;
                fill: #bdbdbd;
            }
        }
        &__type-operation {
            &__title {
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
    &__body-title {
        font-weight: bold;
        font-size: 16px;
    }
}